{% extends "structure.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block main %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="static/css/style.css" href="styles.css">
    <title>Login</title>
</head>
    <body>
        <div class="container">

            <form class="form-signin" methods="POST" action="/login">
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.username) }}
                {{ wtf.form_field(form.password) }}
                {{ wtf.form_field(form.remember) }}
                                            
                <input  type="submit">
        
    
    
            </form>
        </div>
    </body>


</html>
{% endblock main %}