
        {% block main %}

      <!DOCTYPE html>
      <html lang="en">
      <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title></title>
      </head>
      <body>
          <div class="topnav" id="myTopnav">
                <a href="/">Home</a>
                <a href="../about">About</a>
                <a href="../privacy">Privacy</a>
                <a href="../terms_of_use">Terms</a>
            </div>
                
      </body>
      </html>
        
       



        {% endblock main%}
    
    
